{% extends '::base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login_route') }}" method="post">
        <label for="username">{{ 'login.username'|trans }}:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">{{ 'login.password'|trans }}:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="{{ path('exercises') }}">
        <input type="hidden" name="_failure_path" value="{{ path('login_route') }}">

        <button type="submit">{{ 'login.login'|trans }}</button>
    </form>
{% endblock %}